@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Arial', sans-serif;
  background-color: #1a202c;
  color: #ffffff;
}

.transition-transform {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}

.duration-5000 {
  transition-duration: 5000ms;
}